<ion-view view-title="Dashboard">
  <ion-content class="padding bg container" has-header="true" overflow-scroll="true">
      <div class="main-content">
            <p class="text-center">
                <img class="logo" src="img/icon.png" />
            </p>
            
            <div class="account">
                <div class="button-bar">
                    <a class="button button-icon button-balanced" href="#/tab/addUser"><i class="icon ion-ios-plus-outline"></i></a>
                    <a class="button button-icon button-assertive" href="#/tab/deleteUser"><i class="icon ion-ios-minus-outline"> </i></a>
                </div>    
            </div>
      </div>
    </ion-content>
</ion-view>
