<ion-view view-title="{{navTitle}}">
  <ion-content class="padding bg container" has-header="true" scroll="false">
      <div class="main-content">
            <div class="account">
                <div class="row">
                    <div class="col"></div>
                    <div class="col"><a class="round-button-add" href="#/tab/addUser"><i class="icon icon-add-user"></i></a></div>
                    <div class="col"></div>
                    <div class="col"><a class="round-button-delete" href="#/tab/deleteUser"><i class="icon icon-remove-user"></i></a></div>
                    <div class="col"></div>
                </div>
   
            </div>
      </div>
    </ion-content>
</ion-view>