<ion-view view-title="{{navTitle}}">
    <ion-nav-buttons side="primary">
        <button class="button back-button buttons custom-back-btn button-icon button-clear header-item" ng-if="forceBackButton" ng-click="backToParentView()" style=""><i class="icon-back"></i></button>
    </ion-nav-buttons>
  <ion-content class="padding bg" has-header="true" scroll="true">
      <div class="main-content">
        
        <form name="addUserForm" class="move-down-a">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="S-Number" ng-model="snumber" required>
                </label>
                <label class="item item-input">
                    <input type="{{inputType}}" placeholder="Password" ng-model="password" required>
                </label>
                
            </div>
            <p>
                    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword1()" />
                    <label for="checkbox"  ng-if="passwordCheckbox">Hide password</label>
                    <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                </p>
            <p class="text-center">
                <button type="submit" class="button button-small button-block button-balanced" ng-click="addUser(snumber, password)"  ng-disabled="addUserForm.$invalid">Add User</button>
            </p>
        </form> 
        
      </div>
    </ion-content>
</ion-view>