<ion-view view-title="Dashboard">
    <ion-nav-buttons side="primary">
        <button class="button back-button buttons custom-back-btn button-icon button-clear header-item" ng-if="forceBackButton" ng-click="backToParentView()" style=""><i class="icn-back"></i></button>
    </ion-nav-buttons>
  <ion-content class="padding bg" has-header="true">
      <div class="main-content">
        <p class="text-center">
             <img class="logo" src="img/icon.png" />
        </p>
        <form class="move-down-a" ng-submit="addUser(snumber, password)" name="addUserForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="S-Number" ng-model="snumber" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="password" ui-show-password required>
                </label>
            </div>
            <p class="text-center">
                <button type="submit" class="button button-small button-balanced" ng-disabled="addUserForm.$invalid">Login</button>
            </p>
        </form> 
        
      </div>
    </ion-content>
</ion-view>