<ion-view hide-back-button="false" view-title="{{navTitle}}">
  <ion-content class="padding bg" scroll="true">
      <div class="main-content">
      
         <form name="forgotPasswordForm" class="move-down-a">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="s-number" ng-model="snumber" required>
                </label>
            </div>
            <p class="text-center">
                <button type="submit" class="button button-small button-block button-balanced" ng-click="sendEmail(snumber)" ng-disabled="forgotPasswordForm.$invalid">Request Password</button>
            </p>
          </form>
          
          
         </div>
        </ion-content>
</ion-view>
