<ion-view view-title="Dashboard">
  <ion-content class="padding bg container" has-header="true" overflow-scroll="true">
      <div class="main-content">
            <p class="text-center">
                <img class="logo" src="img/icon.png" />
            </p>
            <p class="text-center">
                <form class="move-down-a">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="S-Number" ng-model="snumber" required>
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="password" required>
                        </label>
                    </div>
                    <p class="text-center">
                        <button class="button button-small button-balanced" ng-click="add(snumber, password)" name="submit">Login</button>
                    </p>
                </form> 
            </p>
            <p class="text-center">  
                 <a class="button button-small button-positive"  href="#/tab/forgotPassword"">Forgot Password?</a>                        
            </p>  
            <div class="row account">
                
                <div class="col col-20 border"></div>
                
                <div class="col col-20 border">
                    
                        <div class="float-button-add">
                            <span class="height-fix">
                                <a class="button button-clear content" href="#/tab/addUser">
                                    <i class="icon icon-add-user"> </i>
                                </a>
                            </span>
                        </div>
                    
                </div>
                
                <div class="col col-20 border"></div>    
                
                <div class="col col-20 border">
                    
                        <div class="float-button-remove">
                            <span class="height-fix">
                                <a class="button button-clear content" href="#/tab/deleteUser">
                                    <i class="icon icon-remove-user"> </i>
                                </a>
                            </span>
                        </div>
                    
                </div>
                
                <div class="col col-20 border"></div>
            </div>
                
            
           
      </div>
    </ion-content>
</ion-view>
