<ion-view view-title="Dashboard">
  <ion-content class="padding bg container" has-header="true" overflow-scroll="true">
      <div class="main-content">
            <p class="text-center">
                <img class="logo" src="img/icon.png" />
            </p>
            <p class="text-center">
                <form name="loginForm" class="move-down-a">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="text" class="capitalize" placeholder="S-Number" ng-model="snumber" required>
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="password" toggle-password-input required>
                        </label>
                        <toggle-password-checkbox label="Show password" checkbox-class="checkbox-balanced"></toggle-password-checkbox>
                    </div>
                    <p class="text-center">
                        <button type="submit" class="button button-small button-balanced" ng-click="login(snumber, password)" ng-disabled="loginForm.$invalid">Login</button>
                    </p>
                </form> 
            </p>
            <p class="text-center">  
                 <a class="button button-small button-positive"  href="#/tab/forgotPassword"">Forgot Password?</a>                        
            </p>  
            
      </div>
    </ion-content>
</ion-view>
