<ion-view view-title="{{navTitle}}">
  <ion-content class="padding bg container" has-header="true" scroll="true">
      <div class="main-content">
    
            <p class="text-center">
                
                <form name="loginForm" class="move-down-a">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="s-number" ng-model="user.snumber" required>
                        </label>
                        <label class="item item-input">
                            <input type="{{inputType}}" placeholder="Password" ng-model="user.password" required>
                            
                        </label>
                    </div>
                    <p>
                        <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                        <label for="checkbox"  ng-if="passwordCheckbox">Hide password</label>
                        <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                    </p>
                    <p class="text-center">
                        <button type="submit" class="button button-small button-block button-balanced" ng-click="login(user.snumber, user.password)" ng-disabled="loginForm.$invalid">Login</button>
                    </p>
                </form> 
            </p>
            <p class="text-center">  
                 <a class="button button-small button-block button-positive"  href="#/tab/forgotPassword"">Forgot Password?</a>                        
            </p> 

            <p class="text-center"  style="margin-top: 15px;">  
                 <a class="button button-small button-clear button-light" href="" onclick="window.open('https://www.brainline.com/joinfrombrainapp/', '_system', 'location=yes'); return false;">Become a Brainline Student ></a>
                        
            </p>  
            
      </div>
    </ion-content>
</ion-view>
