@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal; 
}

.icon-repeat::before {
    font-family: "fontawesome";
    content: "\f01e";
}

.icon-logout::before {
    font-family: "fontawesome";
    content: "\f08b";
}

.icon-login::before {
    font-family: "fontawesome";
    content: "\f090";
}

.icon-account::before {
    font-family: "fontawesome";
    content: "\f007";
}

.icon-add-user::before {
    font-family: "fontawesome";
    content: "\f234";
}

.icon-remove-user::before {
    font-family: "fontawesome";
    content: "\f235";
}

.icon-support::before {
    font-family: "fontawesome";
    content: "\f1cd";
}

.icon-view-content::before {
    font-family: "fontawesome";
    content: "\f07c";
}

.icon-web::before {
    font-family: "fontawesome";
    content: "\f0ac";
}

.icon-phone::before {
    font-family: "fontawesome";
    content: "\f098";
}

.icon-email::before {
    font-family: "fontawesome";
    content: "\f0e0";
}

.icon-info::before {
    font-family: "fontawesome";
    content: "\f05a";
}

.icon-forgot-password::before {
    font-family: "fontawesome";
    content: "\f084";
}

.icon-email::before {
    font-family: "fontawesome";
    content: "\f0e0";
}

.icon-menu::before {
    font-family: "fontawesome";
    content: "\f0c9";
}

.icon-facebook::before {
    font-family: "fontawesome";
    content: "\f082";
}

.icon-twitter::before {
    font-family: "fontawesome";
    content: "\f081";
}

.icon-legal::before {
    font-family: "fontawesome";
    content: "\f0e3";
}

.icon-rate::before {
    font-family: "fontawesome";
    content: "\f005";
}

.icon-subjects::before {
    font-family: "fontawesome";
    content: "\f02d";
}

.icon-faq::before {
    font-family: "fontawesome";
    content: "\f059";
}

.icon-left-side::before {
    font-family: "fontawesome";
    content: "\f0a5";
}

.icon-right-side::before {
    font-family: "fontawesome";
    content: "\f0a4";
}

.icon-updates::before {
    font-family: "fontawesome";
    content: "\f0ed";
}

.icon-off::before {
    font-family: "fontawesome";
    content: "\f011";
}

.icon-radio::before {
    font-family: "fontawesome";
    content: "\f001";
}


i {
        
        color: #fff;
        
}

.capitalize {
  text-transform: uppercase;
}

.title-image {
    height: 42px;
}

div.acc-buttons{
    max-width: 100px;
}

h2.name, p.grade{
    color: #387EF5;
}

.border {
    /*border: saddlebrown 1px solid;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
    
}
.bar {
    background-size: 100% 0px;
}
    
.blue {
    background-color: #303f9f;
}

.bg{
  /*background-color: #00629f;*/
  background: url('../img/brainline_bg.png') no-repeat center center fixed;
  background-size: cover;
  background-color: #387EF5;
  
}

.container {
    width: 100%;
}

p.main{
    width: 100px;
    height: 100px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

h5.info{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    color: #ffffff;
}

.slider {
  height: 100%;
}

.slider-slide {
  padding-top: 80px;
  color: chartreuse;
  background-color: #387EF5;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.slider-slide img {
    width: 100%;
    margin: 0;
}

.slider-slide h5{
    color: chartreuse;
}

.tablets{
    margin: 20px auto;
    max-width: 100%;
    text-align: center;
}

.main-content{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    max-width: 80%;
}


img.logo {
  
  margin-top: 10px; 
  max-width: 100px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

.icon.new-item {
  position: absolute;
  right: 20px;
  font-size: 20px;
  bottom: 13px;
}
.cancel-create {
  position: absolute;
  right: 20px;
  font-size: 14px;
  bottom: 13px;
  color:#ef4e3a;
}
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
/* Ionic Overwrite! */
.item-icon-left .icon, .item-icon-right .icon {
  font-size: 22px;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.popup {
    border: 5px solid #8EC638;
}

.popup-head {
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 40px 40px;
    background-color: #387EF5;
}

.popup-title {
    color: #ffffff;
}

.item-avatar img{
    width: 100% !important;
    height: 100% !important;
    font-size: 6em;
    max-width: 50px;
    max-height: 50px;
}

.round-button-add {
    display:block;
    width:60px;
    height:60px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #387EF5;
    box-shadow: 0 0 3px gray;
    font-size:20px;
}
.theroot {
  max-height: 80%;
  background-color: #ffffff;
  color: #387EF5
}

.round-button-delete {
    display:block;
    width:60px;
    height:60px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #ef4e3a;
    box-shadow: 0 0 3px gray;
    font-size:20px;
}


/* Landscape height*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .bg{
      
        background-color: #ffffff;
        background: url('../img/brainline_bg.png') no-repeat center center fixed;
        background-size: cover;
    
    }

   
}

@media screen and (min-width: 768px) {
  
  /* .pane.menu-content {
    /* !important for disabling dragging */
  /*  width: calc(100% - 275px) !important;
    -webkit-transform: translate3d(275px,0,0) !important;
       -moz-transform: translate3d(275px,0,0) !important;
            transform: translate3d(275px,0,0) !important;
  }

  .buttons.left-buttons .icon.ion-navicon {
    display: none;
  }
*/
   .main-content{
        margin: 0 auto;
        max-width: 50%;
    }

    div.acc-buttons{
        max-width: 50%;
    }
  
}